
<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count">317K</span> Twitter'da Bizi Takip Edin
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span class="count">218k</span> Facebook'da Bizi Takip Edin
            </a>
        </li>
        <li>
            <a class="badge-dark" href="#">
                <i class="fab fa-linkedin"></i>

                <span class="count">215k</span> LinkedIn'da Bizi Takip Edin
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-instagram"></i>
                <span class="count">190k</span> Instagram'da Bizi Takip Edin
            </a>
        </li>
    </ul>
</div>