
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - 403 Forbidden</title>
    <link rel="stylesheet" href="~/403-forbidden/dist/style.css">

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="lock"></div>
    <div class="message">
        <h1>     Bu Alana Erişemezsiniz</h1>
        <p> Şikayetiniz Varsa Lütfen Bizimle İletişime Geçin.</p>
    </div>
    <!-- partial -->

</body>
</html>



